<!DOCTYPE html>
<html>
    <head>
        <title>Listado</title>
    </head>
    <body>
        <h1>Usuarios</h1>
        <table border="1">
            <tr>
                <th>ID de usuario</th>
                <th>Primer nombre</th>
                <th>Segundo nombre</th>
                <th>Nacimiento</th>
                <th>Edad</th>
                <th>Genero</th>
            </tr>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.UsuarioID }}</td>
                <td>{{ usuario.PrimerNombre }}</td>
                <td>{{ usuario.SegundoNombre }}</td>
                <td>{{ usuario.Nacimiento }}</td>
                <td>{{ usuario.Edad }}</td>
                <td>{{ usuario.Genero }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <a href="{{ url_for('index') }}">Agregar usuario</a>
        <br>
        <a href="{{ url_for('eliminar') }}">Eliminar usuario</a>
        <br>
        <a href="{{ url_for('actualizar') }}">Actualizar usuario</a>
    </body>
</html>
